.DS_Store
*~
*#
.#*
.yardoc/*
.pt
.rvmrc
.redcar
.powrc
.irbrc
.bundle
.pt
docs/*
db/*.sqlite3
log/*
tmp/**/*
tmp/*
public/.sass-cache/*
public/assets/*.js
public/assets/*.gz
public/assets/*.css
public/stylesheets/**/images
.sass-cache/*
public/local/*
public/local/**/*
dump
.autotest
*.watchr
spec/reports/*
spec/javascripts/compiled/*
*.sublime-project
*.sublime-workspace
rspec.failures


